<!DOCTYPE html>
<html>
<head>
  <title>Athletics Dashboard</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js" charset="utf-8"></script>

  <link rel="stylesheet" type="text/css" href="http://d2b.academicdashboards.com/d2b.min.css" />
  <script src="http://d2b.academicdashboards.com/d2b.min.js"></script>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>

  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/topbar' %>
<%= render 'layouts/sidebar' %>

<div id = 'page-wrap'><%= yield %></div>

</body>
</html>
